body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(229, 134, 150);
}

.myProfile {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.btn{
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 1rem;
        color: #000;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        background: linear-gradient(to bottom, rgb(229, 134, 150), white)
}
.btn:active, .btn:focus {
    outline: none; 
}


